/* Colors */
:root {
  --cor-primaria: #007bff; /* Azul */
  --cor-secundaria: #f8f9fa; /* Branco */
  --cor-dark: #343a40; /* Cinza */
  --cor-contraste: #f06292; /* Rosa*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--cor-dark);
  background-color: var(--cor-secundaria);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
  font-family: Poppins, sans-serif;
}
